@use "../../../styles/global/index" as g;

.richtextStyling {
  h2 {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  p {
    margin-bottom: 16px;
  }
}

@media (max-width: g.$small-desktop) {
  .richtextStyling {
    h2 {
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }
}
@media (max-width: g.$tablet-bp) {
  .richtextStyling {
    h2 {
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }
}
